@keyframes border-rotation {
  from {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: currentColor;
    border-left-color: transparent;
  }
  25% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: currentColor;
  }
  50% {
    border-top-color: currentColor;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  75% {
    border-top-color: transparent;
    border-right-color: currentColor;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  to {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: currentColor;
    border-left-color: transparent;
  }
}