@font-face {
  font-family: Vazirmatn;
  src: url(/assets/fonts/Vazirmatn-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Vazirmatn;
  src: url(/assets/fonts/Vazirmatn-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: SahelFD;
  src: url('/assets/fonts/Sahel-Black-FD.ttf') format('truetype'),
    url('/assets/fonts/Sahel-Black-FD.woff') format('woff'),
    url('/assets/fonts/Sahel-Black-FD.woff2') format('woff2');
  font-weight: 900;
}
@font-face {
  font-family: SahelFD;
  src: url('/assets/fonts/Sahel-Bold-FD.ttf') format('truetype'),
    url('/assets/fonts/Sahel-Bold-FD.woff') format('woff'),
    url('/assets/fonts/Sahel-Bold-FD.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: JetBrainsMono;
  src: url('/assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: VazirCode;
  src: url('/assets/fonts/Vazir-Code.ttf') format('truetype');
  font-weight: 400;
}