<footer>
  <p>تمام حقوق محفوظ است © ۱۴۰۳</p>
</footer>

<style lang="scss">
  footer {
    padding: 20rem 0;
    background: var(--clr-neutral-950);
    color: var(--clr-neutral-300);

    p { width: 100%; text-align: center; margin: 0; }
  }
</style>