---
import Wave from "./Wave.astro"
import Nav from "./Nav.astro"
const {theme, heading, paragraph} = Astro.props
---

<header class="header" data-theme={theme ?? 'primary'}>
  <Nav />
  <div class="header__content">
    <h1>{heading}</h1>
    <p>{paragraph}</p>
  </div>
</header>
<Wave theme={theme ?? 'primary'} />

<style lang="scss">
  .header {
    display: flex;
    flex-direction: column;
    gap: 40rem;
    align-items: center;
    padding: 8rem 8rem 60rem 8rem;
    background: var(--t-clr-700);

    &__content {
      max-width: 200rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5rem;
      text-align: center;
      
      h1 {
        text-align: center;
        color: var(--clr-neutral-50);
        font: var(--txt-heading-1);
        text-shadow: 0 1rem 1rem var(--clr-neutral-900);
      }
      p { 
        text-align: center;
        color: var(--clr-neutral-100); 
      }
    }
  }

  @media only screen and (max-width: 46em) {
    .header {
      gap: 15rem;
      padding-bottom: 25rem;
      
      &__content { max-width: 150rem; }
      h1 { font: var(--txt-heading-2); }
    }
  }

  @media only screen and (max-width: 25em) {
    .header {
      padding: 0;
      gap: 0;
      
      &__content {
        padding: 20rem 4rem;
        gap: 3rem;
      }
    }
  }
</style>